<%= form_with(model: job_seeker) do |form| %>
  <% if job_seeker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_seeker.errors.count, "error") %> prohibited this job_seeker from being saved:</h2>

      <ul>
        <% job_seeker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_namer %>
    <%= form.text_field :user_namer %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
