<p id="notice"><%= notice %></p>

<p>
  <strong>User namer:</strong>
  <%= @job_seeker.user_namer %>
</p>

<p>
  <strong>First name:</strong>
  <%= @job_seeker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @job_seeker.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_seeker.email %>
</p>

<%= link_to 'Edit', edit_job_seeker_path(@job_seeker), class: 'btn btn-secondary' %> |
<%= link_to 'Back', job_seekers_path, class: 'btn btn-secondary' %>
